.logo-image-container {
    position: relative;
}

.logo-image {
    filter: var(--title-filter);
    position: relative;
}

.logo-overlay {
    position: relative;
    top:30%;
    left:30%
}

.logo-image-text {
    position: absolute;
    top: 45%;
    left: 0;
    transform: translate(0, -45%);
    color: var(--title-color);
    padding-left: 25px;
}

.logo-image-text-neon {
    position: absolute;
    top: 45%;
    left: 0;
    transform: translate(0, -45%);
    padding-left: 25px;
    font-family: neon;

    color: #e757a4;
    text-shadow:
        0 0 7px #913566,
        0 0 10px #e757a4,
        0 0 21px #e757a4,
        0 0 42px #e757a4,
        0 0 82px #fff,
        0 0 92px #fff,
        0 0 102px #fff,
        0 0 151px #fff;
}

@font-face {
    font-family: neon;
    src: url(absoluteneonscript.ttf);
  }

@media (max-width: 1024px) {
    .logo-image-text {
        font-size: calc(20% + 6.5vw);
    }
}

@media (min-width: 1024px) {
    .logo-image-text {
        font-size: 3em;
    }
}

@media (max-width: 675px) {
    .logo-image-text {
        font-size: calc(1px + 6vw);
    }
}

@container (width < 1024px) {
    logo-image-text {
        font-size: 10px;
    }
}

table.movie-night td {
    padding-top:15px;
}

.movie-night {
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.movie-object {
    display: table-cell;
    width: calc(100% - (2 * var(--gap)));
}

.movie-clip {
    height:315px;
    width: 560px;
}

.movie-name {
    font-weight: bold;
    color: var(--primary);
    font-size: 20px;
}

.movie-attrib {
    font-weight: bold;
    overflow-wrap: break-word;
    color: var(--primary);
}

.movie-summary {
    color: var(--primary);
}
