.logo-image-container {
    position: relative;
    display: inline-block;
}

.logo-image-text {
    position: absolute;
    top: 00%;
    left: 00%;
    height: 120px;
    width: 100%;
    font-size: 28px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 25px;
    padding-left: 25px;
    border-radius: 5px;
}

.movie-night {
    width:"100%";
    display: flex;
    flex-direction: column;
    min-height: 200vh;
    overflow: visible;
}

.movie-object {
    display: table-cell;
}

.movie-clip {
    height:315px;
    width: 560px;
}

.movie-name {
    font-weight: bold;
    color: black;
    font-size: 20px;
}

.movie-attrib {
    font-weight:  bold;
    color: black;
}

*:not(html) {
    -webkit-transform: translate3d(0, 0, 0);
}