.logo-image-container {
    position: relative;
}

.logo-image {
    filter: var(--title-filter);
}

.logo-image-text {
    position: absolute;
    top: 45%;
    left: 0;
    transform: translate(0, -45%);
    /*font-size: calc(50% + 3vw);*/
    font-size: 3.2em;
    color: var(--title-color);
    padding-left: 25px;
}

table.movie-night td {
    padding-top:15px;
}

.movie-night {
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.movie-object {
    display: table-cell;
    width: calc(100% - (2 * var(--gap)));
}

.movie-clip {
    height:315px;
    width: 560px;
}

.movie-name {
    font-weight: bold;
    color: var(--primary);
    font-size: 20px;
}

.movie-attrib {
    font-weight: bold;
    overflow-wrap: break-word;
    color: var(--primary);
}

.movie-summary {
    color: var(--primary);
}
